        div.mytext {
            
            color: rgb(255, 255, 255);
            background-color:rgb(170, 98, 26);
            font-family: monospace;
            font-size: 150%;
            align-content: center;
        }
        ul.myul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(127, 0, 0);
            font-family: monospace;
            color: rgb(255, 255, 255);
        }
        li.myli {
            float: left;
            display: block;
            padding-left: 8px;
            padding-right: 8px;
            font-family: monospace;
            background-color: rgb(127, 0, 0);
            color: rgb(255, 255, 255);
        }
        footer.myfo {
            height: 50px;
            font-family: monospace;
            background-color: rgb(127, 0, 0);
            color: rgb(255, 255, 255);
        }
